In [2]:
import pandas as pd

In [4]:
df = pd.DataFrame({
    'a' : [1,2,3],
    'b' : [4,5,6]
    })

In [1]:
import pandas as pd

# Create a DataFrame
data = {'ID': [1, 2, 3, 4],
        'Name': ['John', 'Alice', 'Bob', 'Emily']}
df = pd.DataFrame(data)
df

   ID   Name
0   1   John
1   2  Alice
2   3    Bob
3   4  Emily

In [2]:
# Define the lookup value
lookup_value = 2

In [3]:
df.loc[df['ID'] == lookup_value, 'Name'].values[0]

'Alice'

In [ ]:

# Perform the VLOOKUP-like operation
result = df.loc[df['ID'] == lookup_value, 'Name'].values[0]

print(result)